{% extends 'user_base.html' %}
{% load static %}


{% block title %}Forgot password | E Life{% endblock %}

{% block body %}
<div style="display:grid;  grid-template-columns: 50% 50%;">
    <div style='margin-left:25px;'>
        <a href='/'>
        <img id='log_img'  src="{% static 'img/e.png'%}" >
        </a>
    </div>
    <div style='text-align: end; margin-right:10%;'>
        <a style='text-decoration: none;' href="/login">
            <button id='sign_in_btn' >Sing in</button>
        </a>
        <a style='text-decoration: none;' href="/register">
            <button id='join_btn' >Join now</button>
        </a>
    </div>
</div>
<center>
    <div class="main">
        <div class='Forgot_first_div'>
            <div class="box_header">
                <div class="header_item_1">
                    <span>Forgot password? </span>
                </div>
                <div class="header_item_2">
                    <span >Reset password in two quick steps</span>
                </div>
            </div>
            <div class="input_div">
                <div class="input_div_item">
                    <input type="text" placeholder="Email..." name="" >
                </div>
                <div class="input_div_item">
                    <button id='rester_submit' class="auth_button">Reset password</button>
                </div>
                <div style='margin-top: 15px; text-align:center;' >
                    <button class='back_btn'>Back</button>
                </div>
            </div>
        </div>

        <div class='Forgot_second_div'>
            <div class="box_header">
                <div class="header_item_1">
                    <span>We sent a code to your phone</span>
                </div>
                <div class="header_item_2">
                    <span >Enter 6 digit verification code sent to your phone ending in <span>15</span>.
                    </span>
                    <a href=''><button>Change</button></a>
                </div>
            </div>
            <div class="input_div">
                <div class="input_div_item">
                    <input type="text" placeholder="6 digit code" name="" >
                </div>
                <div class='resend_code_div'>
                    <a href='/forgot_password'><span>Resend code</span></a>
                </div>
                <div class="input_div_item">
                    <button  class="auth_button">Reset password</button>
                </div>
                <div class='new_phone_resend_div'>
                    <a href='/forgot_password'><button>Resend code by phone call instead</button></a>
                </div>
            </div>
        </div>
    </div>
</center>
{% endblock %}